
@{
    ViewData["Title"] = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "404";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-2">

            <h1>404 - Page not found</h1>

            <p>Oops, better check that URL.</p>
           @* <p>You came from @ViewBag.originalPath</p>*@

            <p><a asp-controller="Home" asp-action="Index">Back to Index</a></p>
        </div>
    </div>
</div>

