@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}

@section breadcrumb {

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore @ViewBag.HeaderTitle</h1>
        <p class="lead text-muted">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
        <p>
            <a href="#" class="btn  btn-primary my-2">Search books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="display-4">Top books</h3>

        @*@await Component.InvokeAsync("TopBooks")*@ 
        <vc:top-books></vc:top-books>

        <div class="row">
            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                @Html.Partial("_bookThumbnail", new BookModel())
            </div>
            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                @await Html.PartialAsync("_bookThumbnail", new BookModel())
            </div>
            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                 @{ Html.RenderPartial("_bookThumbnail", new BookModel()); }
            </div>
            <div class="col-md-4">
                @*<partial name="_bookThumbnail" model="new BookModel()" />*@
                @{ await Html.RenderPartialAsync("_bookThumbnail", new BookModel()); }
            </div>
</div>
    </div>
</div>

@section javascripts {
    <script>
        $(document).ready(() => {
            //alert("Page loaded");
            console.log('Page loaded');
        })
    </script>
}