@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div style="margin: 0 auto; max-width:1080px;">
        <img src="~/images/logo.png" alt="Bookstore logo" class="logo" />
        <img src="~/MyStaticFiles/user.png" alt="Bookstore logo" class="user olgo" />

        <h1>Welcome to book store application</h1>
        <p>This is the home page of the book store application</p>
    </div>
</body>
</html>

@{
}
