@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
@inject BookStoreMvc.Repository.IBookRepository bookRepository

@section breadcrumb {

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore @ViewBag.HeaderTitle</h1>
        <p class="lead text-muted">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
        <p>
            <a href="#" class="btn  btn-primary my-2">Search books</a>
        </p>

        @foreach (var item in await bookRepository.GetAllBooks())
        {
            <h2>@item.Title</h2>
        }
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="display-4">Top books</h3>

        @await Component.InvokeAsync("TopBooks", new { count = 3 }) 
        @*<vc:top-books count="5"></vc:top-books>*@

    </div>
</div>

@section javascripts {
    <script>
        $(document).ready(() => {
            //alert("Page loaded");
            console.log('Page loaded');
        })
    </script>
}