@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get all books</title>
</head>
<body>
    <div style="margin: 0 auto; max-width:1080px;">
        <h1>Book list</h1>
        <button>Click me</button>
    </div>
</body>
</html>