
@{
    ViewData["Title"] = "Confirm Email";
}

<div class="container">
    <h1>Confirm email</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <p>Your email has been verified successfully.</p>
            </div>
        </div>
    </div>
</div>

