
@{
    ViewData["Title"] = "Confirm Email";
}
@model EmailConfirmModel
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            @if (Model.EmailVerified == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Your email has been verified successfully.</p>
                </div>
            }
            else
            {
                @if (Model.EmailSent)
                {
                    <p>An email has been sent on your registered email id.</p>
                }
                else
                {
                    <p>We have sent an email on your email id. Click on the link to login.</p>
                }
                    <form asp-action="ConfirmEmail">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Email" />

                        <p>Did not get any email or deleted by mistake?</p>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Resend confirmation email</button>
                        </div>
                    </form>
       @*             <p>Something went wrong or your token has been expired.</p>   *@
            }

        </div>
    </div>
</div>

