@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="border-top card-footer text-muted text-center footer">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<a href="mail:sorani@invalid.com">sorani@invalid.com</a>*@
        <custom-email my-email="sorani@invalid.com"></custom-email>
    </div>
</footer>